* {
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;
}

div button{

    color: black;
    border-radius: 5px;
    border-color: #4b9ed6;
    background-color: #4b9ed6;
    padding: 7px;
    font-size: 15px;
}








