*{
	padding: 0;
	margin: 0;
}

body{
	font-family: sans-serif;
	background-color: #07beb8;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;

}

.box{
	background-color: #eee;
	width: 1000px;
	border-radius: 10px;
}

h1{
	font-weight: 400;
	margin-bottom: 35px;
	margin-top: 20px;
	margin-left: 20px;
}