 .navbar {
    background-color: #131ef2;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-control-prev,
.carousel-control-next {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: blue;
    border: 1px solid blue;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-control-prev-icon::after,
.carousel-control-next-icon::after {
    font-size: 30px;
    color: lightblue;
}

.carousel-control-prev-icon::after {
    content: '<';
}

.carousel-control-next-icon::after {
    content: '>';
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.card-body {
    flex-grow: 1;
}